/* App.css */
body {
  margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto; /* Header, Content, Footer */
    min-height: 100vh;
    background-image: url('./flat.jpg'); /* Relative path to your image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.person-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  max-width: 1000px;
}

.person-card:hover {
  transform: translateY(-4px);
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px; /* Adjust the width as needed */
  margin-right: 20px; /* Add spacing between input and cards */
  margin-top: 10px; /* Add some top margin for spacing */
}

.input-field {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.button-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

/* App.css */
.person-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap between cards as needed */
  justify-content: flex-start; /* Align cards to the left */
  max-width: 600px;
}
.footer {
  
  padding: 10px;
  text-align: center;
  background-color: #f5f5f5; /* Choose a background color */
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5; /* Choose a background color */
}

.header-title {
  font-size: 24px;
  font-weight: bold;
}
.auth-buttons {
  display: flex;
  gap: 10px;
}